@{
    Layout = null;
}

@model LoginModel

<html>
<head>
    <meta name="viewport" contextmenu=" width-device-width" />
    <title>Book Login</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand m-1-2">BOOK STORE:</span>

    </div>

    <div class="alert alert-danger" role="alert">
       Only log in if you are an admin!!
    </div>

    <div class="m-1 p-1">
        <div class="text-danger" asp-validation-summary="All"></div>

        <form method="post" asp-controller="Account" asp-action="Login">
            <div class="form-group">
                <div class="form-floating mb-3">
                    <input asp-for="Username" class="form-control" id="floatingInput" placeholder="Username">

                </div>
            </div>

            <div class="form-group">
                <div class="form-floating">
                    <input asp-for="Password" class="form-control" id="floatingPassword" placeholder="Password">

                </div>
            </div>

            <button class="btn-btn-primary" type="submit">Log In</button>

            <input type="hidden" asp-for="ReturnUrl" />


        </form>
    </div>
</body>
</html>



